@import '@/mixins';
@import "@/var";

.wrap {
  position: relative;
  padding-top: responsive(40px, 120px);
  padding-bottom: responsive(60px, 180px);

  .offer {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    .imgBox {
      width: responsive(400px, 705px);
      position: relative;

      img {
        height: auto;
      }
    }

    .accordionBox {
      max-width: 420px;
    }

    @media (max-width: 1024px) {
      .imgBox {
        display: none;
      }
      .accordionBox {
        max-width: 100% !important;
      }
    }

    h2 {
      margin-bottom: responsive(36px, 60px);
      text-align: left;
      font-size: 46px;
      font-style: normal;
      font-weight: 900;
      line-height: 130%;
    }


  }
}

