@import "@/var";
@import "@/mixins";


.sliderItem {
  height: calc(100vh - 92px);
  max-height: 988px;
  position: relative;

  @media (max-width: 1100px) {
    height: calc(100vh - 45.59px);
  }
  @media (max-width: 700px) {
    height: calc(100vh - 70px);
  }

  img {
    z-index: -10;
    object-fit: cover;
  }

  .sliderContent {
    padding-top: 220px;
    max-width: 595px;

    @media (max-width: 1250px) {
      padding: 0 20px;
    }

    @media (max-width: 610px) {
      left: 0;
      padding: 0 20px;
    }

    h2 {
      text-align: left;
      font-size: 72px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 130%;
      color: $white;

      @media (max-width: 610px) {
        text-align: center;
      }

      span {
        color: $btn;
      }
    }


    p {
      margin-top: 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
      color: $white;

      @media (max-width: 610px) {
        text-align: center;
      }
    }

    div {
      margin-top: 60px;
      display: flex;
      gap: 24px;

      @media (max-width: 610px) {
        flex-direction: column;
        align-items: center;
      }

      button:first-child {
        border: 1px solid $white;
        color: $white;

        &:hover {
          background-color: $btn;
          border: 1px solid $btn;
        }
      }

    }

    @media (max-height: 800px) {
      top: 10%;

      h2 {
        font-size: 48px;

      }

      p {
        font-size: 18px;
      }
    }

    @media (max-width: 435px) {
      top: 5%;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 16px;
      }
    }
    @media (max-width: 330px) {
      h2 {
        letter-spacing: 0;
        font-size: 32px;
      }
    }

  }
}