@import '@/var';

.card {
  position: relative;
  border-radius: 4px;
  aspect-ratio: 1;
  cursor: pointer;
  box-shadow: $shadow-small;

  &:hover {
    box-shadow: $shadow-regular;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-color: $white;
    transition: 0.3s ease-in-out;

    .icon {
      transition: fill 0.3s ease-in-out;
    }

    .title {
      transition: color 0.3s ease-in-out;
      font-size: 20px;
      line-height: 150%;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);

      .icon {
        fill: $white;
      }

      .title {
        color: $white;
      }
    }
  }

  img {
    object-fit: cover;
    z-index: -10;
  }

  .icon {
    width: 52px;
    height: 52px;
    fill: $orange;
  }
}
