@import '@/var';
@import '@/mixins';

.card {
  max-width: responsive(120px, 285px);
  flex: 1;

  .img__wrapper {
    margin-bottom: responsive(8px, 24px);
    display: flex;
    justify-content: center;
  }

  h3 {
    margin-bottom: responsive(4px, 8px);
    font-size: responsive(14px, 20px);
    line-height: responsive(14px, 30px);
  }

  p {
    text-align: center;
    font-size: responsive(12px, 16px);
    line-height: responsive(12px, 25.6px);
  }

  .icon {
    width: responsive(35px, 48px);
    height: responsive(35px, 48px);
    fill: $orange;
  }

  @media screen and (max-width: 560px) {
    margin: 0 auto;
    max-width: 250px;

    .img__wrapper {
      margin-bottom: 16px;
    }

    &:not(:last-child) {
      margin-bottom: responsive(24px, 28px);
    }

    h3 {
      margin-bottom: responsive(8px, 28px);
    }
  }
}

.darkTheme {
  h3 {
    color: $white;
  }

  p {
    color: $white;
    opacity: 0.6;
  }
}
