.arrow {
  cursor: pointer;
}

.left {
  width: 24px;
  border: none;
  height: 24px;
  position: absolute;
  z-index: 10;
  left: 93%;
  top: 100%;
  transform: translate(-100%, -120%);
}

.right {
  border: none;
  position: absolute;
  left: 100%;
  top: 100%;
  width: 24px;
  height: 24px;
  transform: translate(-100%,-120%);
}