@import '@/var';
@import "@/mixins";

.videoBlock {
  width: 100%;
  text-align: center;
  margin-bottom: responsive(60px, 180px);

  @media (max-width: 1230px) {
    padding: 0 20px;
  }

  p {
    margin-top: 24px;
    margin-bottom: responsive(30px, 60px);
  }

  .img {
    position: relative;
    user-select: none;

    img {
      filter: brightness(0.5);
      border-radius: 4px;
      width: 100%;
      max-width: 1230px;
      height: auto;
      -webkit-user-drag: none;
    }

    .play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: .3;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $btn;
        transition: 0.33s ease-in;
      }

      &:hover {
        &:before {
          width: 130%;
          height: 130%;
        }
      }
    }

  }
}

.videoWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
}