@import "@/var";
@import "@/mixins";

.form__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .flex__block {
    display: flex;
    flex: 1;
    gap: 20px;
  }

}

@media screen and (max-width: 900px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .flex__block {
      flex-direction: column;

      &:first-child {
        gap: 30px;
      }

      &:last-child {
        gap: 15px;
      }
    }

    button {
      width: 100%;
    }
  }
}
