@import '@/var';
@import '@/mixins';

.container {
  @include paddingX(30px, 60px);
  @include paddingY(20px, 48px);
  position: relative;
  top: 90px;
  z-index: 10;
  border-radius: 4px;
  background-color: $white;
  box-shadow:
    0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  h3 {
    margin-bottom: responsive(30px, 60px);
  }
}
