@import "@/var";
@import "@/mixins";

.p {
  color: $gray-700;
  text-align: center;
  font-size: responsive(16px, 18px);
  margin-top: responsive(16px, 24px);
}

.slider {
  margin-top: responsive(20px, 60px);
}

.slide {
  padding: 0 responsive(20px, 40px);
  height: auto;
}