@import "@/var";
@import "@/mixins";


.card {
  box-shadow: $shadow-small;
  max-width: 705px;
  max-height: 482px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: 1230px) {
    max-width: 705px;
  }

  .img {
    overflow: hidden;
    max-width: 600px;
    max-height: 306px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
      transition: .25s;


      @media (max-width: 1230px) {
        max-height: 156px;
      }
    }

  }

  &:hover {
    box-shadow: $shadow-regular;

    .img {
      width: 100%;
      img {
        transform: scale(1.1);
      }
    }
  }

  .info {
    padding: responsive(8px, 24px);

    h4 {
      text-align: left;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    hr {
      width: 1px;
      height: 12px;
      background-color: $gray-800;
    }

    .description {
      height: 52px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Устанавливает количество строк, которое нужно отображать */
      -webkit-box-orient: vertical;
    }

    .subInfo {
      display: flex;
      gap: responsive(4px, 12px);
      align-items: center;
      margin-bottom: responsive(8px, 14px);
      flex-wrap: wrap;

      span {
        font-size: 14px;
        color: $gray-700;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @media (max-width: 350px) {
          font-size: 13px;
        }

        .svg {
          width: 16px;
          height: 16px;
          fill: $gray-700;
          margin-right: 4px;
        }
      }

      .line {
        width: 1px;
        height: 100%;
        background-color: $gray-700;
      }
    }

    @media (min-width: 1230px) {
      .descriptionMin {
        display: none;
      }
    }
  }

  &:hover {
    .info {
      h4 {
        transition: 0.25s;
        color: $orange;
      }
    }
  }
}


.minCard {
  width: 495px;

  @media (max-width: 1230px) {
    width: 100%;
    max-width: 705px;
  }

  .img {
    max-height: 156px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 495px;
      max-height: 156px;

      @media (max-width: 1230px) {
        max-width: 705px;
      }
    }
  }

  .info {
    @include paddingX(8px, 24px);
    padding-top: responsive(4px, 16px);
    padding-bottom: responsive(8px, 24px);

    .subInfo {
      margin-bottom: 0;

      @media (max-width: 1230px) {
        margin-bottom: responsive(8px, 16px);
      }
    }
  }
}
