@import "@/var";
@import "@/mixins";


.card {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  max-width: 705px;

  @media (max-width: 1230px) {
    max-width: 705px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 705px;
    max-height: 360px;
    border-radius: 4px 4px 0 0;


    @media (max-width: 1230px) {
      max-height: 156px;
    }
  }

  .info {
    padding: responsive(8px, 24px);

    .subInfo {
      display: flex;
      gap: responsive(4px, 12px);
      align-items: center;
      margin-bottom: responsive(8px, 16px);
      flex-wrap: wrap;


      span {
        color: $gray-700;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @media (max-width: 350px) {
          font-size: 13px;
        }

        .svg {
          width: 16px;
          height: 16px;
          fill: $gray-700;
        }
      }

      .line {
        width: 1px;
        height: 100%;
        background-color: $gray-700;
      }
    }

    @media (min-width: 1230px) {
      .description {
        display: none;
      }
    }
  }
}


.minCard {
  width: 495px;

  @media (max-width: 1230px) {
    width: 100%;
    max-width: 705px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 495px;
    max-height: 156px;

    @media (max-width: 1230px) {
      max-width: 705px;
    }
  }

  .info {
    padding: responsive(4px, 16px);
  }
}
