@import "@/mixins";
@import '@/var';

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  div {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      margin-top: 3px;
      width: 24px;
      height: 24px;
      fill: $gray-800;
    }
  }

  .pages {
      width: 70px;
  }
  .active {
    color: $orange;
  }

  button {
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    color: $gray-800;
    font-weight: 700;
    line-height: 160%;
    padding: 5px;

    &:hover {
      scale: 1.1;
    }
  }
}
