@import '@/var';
@import '@/mixins';

.input {
  flex-grow: 1;
  position: relative;

  label {
    position: absolute;
    top: -28px;
    left: 0;
    color: $gray-800;
    font-family: Ubuntu;
    font-size: responsive(12px, 14px);
    font-weight: 400;
    line-height: responsive(16px, 21px);
  }

  input {
    padding: 11px 0 12px 16px;
    height: 100%;
    width: 100%;
    border: 1px solid $input-border;
    border-radius: 4px;
    background: $input-bg;
    outline: none;
  }

  @media screen and (max-width: 900px) {
    label {
      top: -20px;
    }

    input {
      margin-bottom: responsive(24px, 30px);
    }
  }
}
