@import '../../app/style/variable.scss';

.logo {
  width: 130px;
  height: 22px;
}

.icon {
  width: 40px;
  height: 40px;
}

.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  position: relative;

  .navigation {
    display: flex;
    flex-grow: 1;
    max-width: 637px;
    justify-content: space-between;

    nav {
      flex-grow: 1;
      max-width: 447px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;
        }
      }

      @media (max-width: 700px) {
        display: none;
      }
    }
    
    @media (max-width: 700px) {
      justify-content: flex-end;
    }

    @media (max-width: 1100px) {
      max-width: none;
    }
  }
  @media (max-width: 700px) {
    flex-direction: row-reverse;
  }

  @media (max-width: 1100px) {
    padding: 10px;
  }

  @media (max-width: 1250px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts {
    display: flex;
    gap: 36px;

    .contact {
      display: flex;
      gap: 12px;
    }

    .title {
      color: $gray-800;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }

    .text {
      color: $gray-900;
      font-size: 18px;
      line-height: 27px;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }

  .menu {
    @media (min-width: 700px) {
      display: none;
    }
  }

  a {
    color: $gray-800;
    font-weight: 700;
    line-height: 25.6px;
  }
}
