@import '@/mixins';
@import "@/var";

.wrap {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: responsive(20px, 80px);
  padding-bottom: responsive(40px, 118px);
  overflow: hidden;

  @media (max-width: 700px) {
    div > div {
      padding: 4px;
    }
  }

  & > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 1230px) {
      display: none;
    }
  }

  h2 {
    margin-bottom: responsive(12px, 24px);
  }

  h2 + p {
    text-align: center;
    margin-bottom: responsive(30px, 60px);
    font-size: responsive(12px, 18px);
  }

  p + div {
    overflow-x: auto;
    max-width: 1270px;
    margin-bottom: responsive(60px, 120px);
    box-shadow: $shadow-small;
    border: 1px solid $gray-300;
    border-radius: 4px;

    & > table {
      border-collapse: collapse;
      background: $white;
      width: 100%;

      th:first-child p {
        font-size: 18px;
        text-align: left;
        text-transform: capitalize;
      }

      th:first-child {
        vertical-align: bottom;

      }

      th {
        vertical-align: top;
        padding-top: responsive(24px, 32px);
        padding-bottom: responsive(16px, 24px);
        @include paddingX(10px, 24px);

        p {
          color: $gray-900;
          text-align: center;
          font-size: responsive(12px, 24px);
          font-weight: 700;
          line-height: 150%;
          text-transform: uppercase;
          margin-bottom: 2px;
        }

        p + p {
          color: $gray-700;
          text-align: center;
          font-size: responsive(10px, 18px);
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          text-transform: lowercase;
        }
      }

      & > tbody {
        tr:nth-child(odd) {
          background-color: $gray-300;
        }

        tr {
          td {
            text-align: center;
            width: 20%;
            color: $gray-800;
            font-size: responsive(12px, 16px);
            line-height: 160%;
          }

          td:first-child {
            @include paddingY(6px, 16px);
            @include paddingX(8px, 24px);
            width: 40%;
            text-align: left;
          }

          .checkmark {
            width: responsive(20px, 24px);
            height: responsive(20px, 24px);
            fill: $orange
          }
        }

        tr:last-child td {
          @include paddingY(12px, 32px);
          background-color: $white;

          @media (max-width: 700px) {
            button {
              width: responsive(70px, 105px);
              word-break: break-word;
              white-space: pre-line;
              font-size: responsive(10px, 12px);
              @include paddingX(2px, 5px);
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

