@import '@/mixins';
@import "@/var";

.wrap {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: responsive(20px, 80px);
  padding-bottom: responsive(40px, 118px);
  overflow: hidden;

  @media (max-width: 700px) {
    div > div {
      padding: 4px;
    }
  }

  & > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 1230px) {
      display: none;
    }
  }

  h2 {
    margin-bottom: responsive(12px, 24px);
  }

  h2 + p {
    text-align: center;
    margin-bottom: responsive(30px, 60px);
    font-size: responsive(12px, 18px);
  }

  p + div {
    overflow-x: auto;
    max-width: 1270px;
    margin-bottom: responsive(60px, 120px);
    box-shadow: $shadow-small;
    border: 1px solid $gray-300;
    border-radius: 4px;
  }
}

