@import '@/mixins';

.showcase {
  width: 1260px;

  @media (max-width: 1300px) {
    width: 100%;
  }

  .title {
    margin-bottom: responsive(50px, 54px);
    max-width: 705px;
    text-align: left;
  }
}
