@import "@/var";
@import "@/mixins";

.slick-slider {
  position: relative;
  margin-bottom: responsive(50px, 120px);


  .slick-dots {
    width: 100%;
    max-width: 600px;
    position: absolute;
    z-index: 10;
    left: calc(50% - 620px);
    bottom: 12%;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;


    @media (max-width: 1250px) {
      left: 20px;
    }

    @media (max-width: 700px) {
      left: 0;
      padding: 0 20px;
    }

    @media (max-height: 530px) {
      display: none !important;
    }

    & > li {
      width: 100%;
      text-align: left;

      a {
        width: 100%;
        display: block;
        color: rgba(248, 248, 248, 0.49);
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 20px;
        transition: 0.3s ease-in-out;

        &::before,
        &::after {
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 100%;
          background-color: rgba(248, 248, 248, 0.49);

          content: "";
          height: 2px;
        }
      }

      &.slick-active {
        a {
          opacity: 1;
          color: #fff;

          &::before {
            animation: animateDots 0.3s ease-in-out;
            background-color: #fff;
          }
        }
      }
    }
  }
}

@keyframes animateDots {
  from {
    width: 0;
    background-color: rgba(248, 248, 248, 0.49);
  }
  to {
    width: 100%;
    background-color: #fff;
  }
}