@import "@/var";
@import "@/mixins";

.slider {
  margin-top: -6px;
  position: relative;
  margin-bottom: responsive(50px, 120px);

  & > ul {
    width: 100%;
    max-width: responsive(360px, 724px);
    position: absolute;
    z-index: 10;
    left: calc(50% - 620px);
    bottom: 80px;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;


    @media (max-width: 1250px) {
      left: 20px;
    }

    @media (max-width: 700px) {
      left: 0;
      padding: 0 20px;
    }

    @media (max-height: 530px) {
      display: none !important;
    }

    & > li {
      width: 100%;
      text-align: left;

      a {
        width: 100%;
        display: block;
        color: rgba(248, 248, 248, 0.49);
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 20px;
        transition: 0.3s ease-in-out;
        position: relative;

        span {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }

        &::before,
        &::after {
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 100%;
          background-color: rgba(248, 248, 248, 0.49);

          content: "";
          height: 2px;
        }
      }

    }

    .active {
      opacity: 1;
      color: #fff;

      &::before {
        animation: animateDots 0.3s ease-in-out;
        background-color: #fff;
      }
    }
  }
}

@keyframes animateDots {
  from {
    width: 0;
    background-color: rgba(248, 248, 248, 0.49);
  }
  to {
    width: 100%;
    background-color: #fff;
  }
}