@import '@/mixins';
@import "@/var";


.wrap {
  width: 25%;
  counter-increment: stage-counter;
  position: relative;
  padding-top: 40px;

  &:after {
    content: counter(stage-counter, decimal-leading-zero);
    position: absolute;
    top: -45px;
    left: -12px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $gray-400;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    transition: all .3s ease;
  }

  &:hover:after {
    background-color: #ffe2dc;
    color: $orange;
  }

  &:hover:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    top: -64px;
    left: -32px;
    border-radius: 50%;
    background-color: #fff5f3;
  }

  h3 {
    position: relative;
    z-index: 10;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
  }

  p {
    position: relative;
    z-index: 10;
    color: $gray-700;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }

  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 46px;
    padding-top: 0;
    &:after {
      left: -95px;
      top: 0;
    }
    &:hover:before {
      top: -20px;
      left: -115px;
    }
  }
}




