@import "@/var";
@import "@/mixins";

.routList {
  margin-top: responsive(20px, 65px);
  margin-bottom: responsive(16px, 40px);
  font-size: 14px;
  display: flex;
  gap: 4px;

  span {
    color: $gray-600;
    padding-right: 4px;
  }

  li {
    a {
      text-transform: capitalize;
    }
  }

  li:hover {
    color: $gray-600;
  }

  & > li:last-child {
    color: $gray-600;
  }
}