@import "@/var";
@import "@/mixins";

.form {
  width: 100%;
  max-width: 495px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include paddingX(0px, 40px);
  @include paddingY(20px, 48px);

  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);

  .footer {

  }
}