@import "@/var";
@import "@/mixins";

.wrap {
  position: relative;
  overflow-y: hidden;
  padding-top: responsive(30px, 179px);

  & > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 1230px) {
      display: none;
    }
  }

  .wrapContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: responsive(30px, 181px);

    h2 {
      margin-bottom: responsive(20px, 60px);
    }

    ul {
      list-style: none;
      display: flex;
      gap: 48px;

      @media (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
      }

      @media (max-width: 360px) {
        gap: 12px;
      }

      li {
        & > span {
          width: 148px;
          height: 148px;
          border-radius: 50%;
          display: grid;
          place-items: center;
          margin-bottom: 20px;

          @media (max-width: 800px) {
            margin: auto;
            width: 200px;
            height: 200px;
          }

          @media (max-width: 500px) {
            width: 120px;
            height: 120px;
          }

          & > span {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-radius: 50%;
            background-color: $white;
            display: grid;
            place-items: center;

            font-size: 32px;
            font-style: normal;
            font-weight: 700;
          }
        }

        p {
          @media (max-width: 800px) {
            padding-top: 20px;
          }

          text-align: center;
          font-size: 14px;
          color: $gray-900;
        }
      }
    }
  }
}