@import "@/var";
@import "@/mixins";

.item {
  width: 100%;

  img {
    border-radius: 50%;
    margin-bottom: responsive(15px, 24px);
  }

  p {
    color: $gray-800;
    margin-bottom: responsive(15px, 24px);
  }

  h5 {
    color: $gray-900;
    margin-bottom: 10px;
  }

  span {
    color: $gray-700;
    font-size: 14px;
    line-height: 150%;
  }
}