@import '@/var';
@import '@/mixins';

.our_values {
  margin-bottom: responsive(15px,30px);
  .cards__wrapper {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: responsive(0px, 24px);
  }

  & > p {
    margin-bottom: responsive(24px, 58px);
    text-align: center;
    font-size: responsive(16px, 18px);

    @media screen and (max-width: 900px) {
      margin: 0 auto;
      max-width: 400px;
    }
  }

  span {
    width: 1px;
    background: linear-gradient(
                    0deg,
                    rgba(218, 219, 221, 0) 0%,
                    rgba(218, 219, 221, 0.5) 12.33%,
                    #dadbdd 51.91%,
                    rgba(218, 219, 221, 0.5) 87.85%,
                    rgba(218, 219, 221, 0) 100%
    );
  }

  @media (max-width: 960px) {
    h4 {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 25.6px;
    }
  }

  @media screen and (max-width: 560px) {
    .cards__wrapper {
      display: block;
      margin: 0 auto;
    }

    span {
      visibility: hidden;
      display: none;
    }
  }
}
