@import "@/var";
@import "@/mixins";

.slider {
  padding-top: 4px;
  margin-bottom: 80px;

  .cards {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
  }

  button {
    top: -93px;

    @media (max-width: 1230px) {
      top: -60px;
    }
    @media (max-width: 450px) {
      top: -50px;
    }

    &:first-child {
      right: 66px;
    }

    &:last-child {
      right: 18px;
    }
  }
}