@import '@/var';
@import '@/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #787A80;
}

h2 {
  color: $gray-900;
  text-align: center;
  font-size: responsive(28px, 46px);
  font-weight: 700;
  line-height: responsive(36px, 59.8px);
}

h4 {
  color: $gray-700;
  text-align: center;
  font-size: responsive(14, 18px);
  font-weight: 400;
  line-height: responsive(18px, 27px);
}
