@import '@/var';
@import '@/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: $gray-900;
  text-align: center;
  font-size: responsive(28px, 46px);
  font-weight: 700;
  line-height: responsive(36px, 59.8px);
}
