// Colors
$gray-200: #f4f5f6;
$gray-400: #D7DADD;
$gray-700: #787a80;
$gray-800: #424551;
$gray-900: #1E212C;
$orange: #FF5A30;
$red: #f30;
$white: #fff;

$btn: $orange;
$btn-hover: $red;

$input-bg: $gray-200;
$input-border: $gray-400;