// Colors
$gray-200: #f4f5f6;
$gray-300: #E5E8ED;
$gray-400: #D7DADD;
$gray-700: #787a80;
$gray-800: #424551;
$gray-900: #1E212C;
$orange-600: #F89828;
$orange: #FF5A30;
$red: #f30;
$pink: #F52F6E;
$blue-400: #5A87FC;
$blue-green: #03CEA4;
$white: #fff;
$black: #000;

$btn: $orange;
$btn-hover: $red;

$input-bg: $gray-200;
$input-border: $gray-400;